#readmore{
    background: url(../images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:200px;
    
    
}
.readbtn p{
    background: #3ED5DD;
    padding:20px;
    border-radius: 20px;
    text-align: center;
}
.text .readbtn p{
    font-size: 30px;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    color:#ffffff;
}

.text h2{
    color:#ffffff;
    font-size: 67px;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    text-shadow: 10px -5px 5px rgba(255,255,255,0.41);
}

.text p{
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    margin-bottom: 50px;
    line-height: 25px;
}
.txt h3{
    font-size: 30px;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    color:#3ED5DD;
}
.txt p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
}
.txt h4{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    margin-bottom: 35px;
}
.homebtn a{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%,#3ED5DD,rgb(2, 0, 8));;
    padding: 20px 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: "Titillium Web", sans-serif;
    color:#ffffff;
    margin-right: 30px;
}
.span a{
    font-size: 30px;
    font-weight: 500;
    font-family: "Titillium Web", sans-serif;
    color:#ffffff;
}